{:paths ["src/main"]
 :deps {org.clojure/test.check {:mvn/version "0.10.0"}
        ;org.clojure/alpha.spec {:git/url "https://github.com/clojure/spec-alpha2.git"
        ;                        :sha "b644e4d8c5553e10544d920306690fffe9b53e15"}
        com.wsscode/pathom {:mvn/version "2.2.30"}
        camel-snake-kebab {:mvn/version "0.4.1"}}

 :aliases {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                              org.clojure/clojurescript {:mvn/version "1.10.597"}}}
           :test {:extra-paths ["src/test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-581"}}}

           ; clojure -A:outdated --update
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts ["-m" "depot.outdated.main"]}}}
